In [2]:
from bs4 import BeautifulSoup as bs
import requests
import re

url = 'https://nces.ed.gov/fastfacts/display.asp?id=76'
response = requests.get(url)

#html = response.read().decode('cp1252')
htmlsoup = bs(response.content, "html.parser")
table = htmlsoup.find_all('tr')

rows = [] 
for x in htmlsoup.find_all('table'):
    rows.extend(
         (i for i in x.find_all('tr'))
    )
rows

[<tr>
 <td align="center" colspan="7"><em>Average total tuition, fees, room and board rates charged for full-time undergraduate students in degree-granting institutions, by level and control of institution: Selected years, 1985–86 to 2018–19 </em></td>
 </tr>,
 <tr></tr>,
 <tr>
 <th align="left" rowspan="2" scope="col" valign="bottom"><strong>Year and control<br>
       of institution</br></strong></th>
 <th align="center" colspan="3" scope="col" valign="bottom"><strong>Constant 2018–19 dollars<sup>1</sup></strong></th>
 <th align="center" colspan="3" scope="col" valign="bottom"><strong>Current dollars</strong></th>
 </tr>,
 <tr>
 <td align="left" colspan="7"><strong><b> All institutions</b></strong></td>
 </tr>,
 <tr>
 <th align="left" scope="row">1985–86<sup>2</sup></th>
 <td align="right">$11,369</td>
 <td align="right">$12,811</td>
 <td align="right">$7,836</td>
 <td align="right">$4,885</td>
 <td align="right">$5,504</td>
 <td align="right">$3,367</td>
 </tr>,
 <tr>
 <th align="left" scope="row">1995–96</th>
 <td align="right">14,426</td>
 <td align="right">16,934</td>
 <td align="right">7,745</td>
 <td align="right">8,800</td>
 <td align="right">10,330</td>
 <td align="right">4,725</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2000–01</th>
 <td align="right">15,651</td>
 <td align="right">18,692</td>
 <td align="right">7,907</td>
 <td align="right">10,820</td>
 <td align="right">12,922</td>
 <td align="right">5,466</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2001–02</th>
 <td align="right">16,175</td>
 <td align="right">19,386</td>
 <td align="right">8,127</td>
 <td align="right">11,380</td>
 <td align="right">13,639</td>
 <td align="right">5,718</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2002–03</th>
 <td align="right">16,708</td>
 <td align="right">20,081</td>
 <td align="right">8,695</td>
 <td align="right">12,014</td>
 <td align="right">14,439</td>
 <td align="right">6,252</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2003–04</th>
 <td align="right">17,629</td>
 <td align="right">21,103</td>
 <td align="right">9,125</td>
 <td align="right">12,953</td>
 <td align="right">15,505</td>
 <td align="right">6,705</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2004–05</th>
 <td align="right">18,224</td>
 <td align="right">21,813</td>
 <td align="right">9,374</td>
 <td align="right">13,793</td>
 <td align="right">16,510</td>
 <td align="right">7,095</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2005–06</th>
 <td align="right">18,625</td>
 <td align="right">22,211</td>
 <td align="right">9,209</td>
 <td align="right">14,634</td>
 <td align="right">17,451</td>
 <td align="right">7,236</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2006–07</th>
 <td align="right">19,212</td>
 <td align="right">22,918</td>
 <td align="right">9,264</td>
 <td align="right">15,486</td>
 <td align="right">18,473</td>
 <td align="right">7,467</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2007–08</th>
 <td align="right">19,413</td>
 <td align="right">23,166</td>
 <td align="right">9,137</td>
 <td align="right">16,227</td>
 <td align="right">19,364</td>
 <td align="right">7,637</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2008–09</th>
 <td align="right">20,111</td>
 <td align="right">24,024</td>
 <td align="right">9,697</td>
 <td align="right">17,045</td>
 <td align="right">20,361</td>
 <td align="right">8,219</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2009–10</th>
 <td align="right">20,625</td>
 <td align="right">24,687</td>
 <td align="right">9,981</td>
 <td align="right">17,650</td>
 <td align="right">21,126</td>
 <td align="right">8,541</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2010–11</th>
 <td align="right">21,165</td>
 <td align="right">25,287</td>
 <td align="right">10,159</td>
 <td align="right">18,475</td>
 <td align="right">22,074</td>
 <td align="right">8,868</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2011–12</th>
 <td align="right">21,593</td>
 <td align="right">25,610</td>
 <td align="right">10,402</td>
 <td align="right">19,401</td>
 <td align="right">23,011</td>
 <td align="right">9,347</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2012–13</th>
 <td align="right">22,150</td>
 <td align="right">26,132</td>
 <td align="right">10,480</td>
 <td align="right">20,233</td>
 <td align="right">23,871</td>
 <td align="right">9,573</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2013–14</th>
 <td align="right">22,630</td>
 <td align="right">26,625</td>
 <td align="right">10,662</td>
 <td align="right">20,995</td>
 <td align="right">24,701</td>
 <td align="right">9,891</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2014–15</th>
 <td align="right">23,252</td>
 <td align="right">27,190</td>
 <td align="right">10,864</td>
 <td align="right">21,729</td>
 <td align="right">25,409</td>
 <td align="right">10,153</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2015–16</th>
 <td align="right">23,851</td>
 <td align="right">27,777</td>
 <td align="right">11,062</td>
 <td align="right">22,439</td>
 <td align="right">26,132</td>
 <td align="right">10,407</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2016–17</th>
 <td align="right">24,101</td>
 <td align="right">27,755</td>
 <td align="right">11,061</td>
 <td align="right">23,091</td>
 <td align="right">26,592</td>
 <td align="right">10,597</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2017–18</th>
 <td align="right">24,327</td>
 <td align="right">27,923</td>
 <td align="right">10,925</td>
 <td align="right">23,833</td>
 <td align="right">27,357</td>
 <td align="right">10,704</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2018–19</th>
 <td align="right">24,623</td>
 <td align="right">28,123</td>
 <td align="right">11,389</td>
 <td align="right">24,623</td>
 <td align="right">28,123</td>
 <td align="right">11,389</td>
 </tr>,
 <tr>
 <td align="left" colspan="7"><strong><b>Public institutions</b></strong></td>
 </tr>,
 <tr>
 <th align="left" scope="row">1985–86<sup>2</sup></th>
 <td align="right">$8,312</td>
 <td align="right">$8,981</td>
 <td align="right">$6,938</td>
 <td align="right">$3,571</td>
 <td align="right">$3,859</td>
 <td align="right">$2,981</td>
 </tr>,
 <tr>
 <th align="left" scope="row">1995–96</th>
 <td align="right">10,255</td>
 <td align="right">11,498</td>
 <td align="right">6,912</td>
 <td align="right">6,256</td>
 <td align="right">7,014</td>
 <td align="right">4,217</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2000–01</th>
 <td align="right">10,973</td>
 <td align="right">12,517</td>
 <td align="right">7,000</td>
 <td align="right">7,586</td>
 <td align="right">8,653</td>
 <td align="right">4,839</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2001–02</th>
 <td align="right">11,401</td>
 <td align="right">13,071</td>
 <td align="right">7,302</td>
 <td align="right">8,022</td>
 <td align="right">9,196</td>
 <td align="right">5,137</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2002–03</th>
 <td align="right">11,824</td>
 <td align="right">13,612</td>
 <td align="right">7,790</td>
 <td align="right">8,502</td>
 <td align="right">9,787</td>
 <td align="right">5,601</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2003–04</th>
 <td align="right">12,585</td>
 <td align="right">14,527</td>
 <td align="right">8,182</td>
 <td align="right">9,247</td>
 <td align="right">10,674</td>
 <td align="right">6,012</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2004–05</th>
 <td align="right">13,033</td>
 <td align="right">15,096</td>
 <td align="right">8,423</td>
 <td align="right">9,864</td>
 <td align="right">11,426</td>
 <td align="right">6,375</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2005–06</th>
 <td align="right">13,306</td>
 <td align="right">15,411</td>
 <td align="right">8,262</td>
 <td align="right">10,454</td>
 <td align="right">12,108</td>
 <td align="right">6,492</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2007–08</th>
 <td align="right">13,842</td>
 <td align="right">16,066</td>
 <td align="right">8,347</td>
 <td align="right">11,570</td>
 <td align="right">13,429</td>
 <td align="right">6,977</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2008–09</th>
 <td align="right">14,405</td>
 <td align="right">16,768</td>
 <td align="right">8,906</td>
 <td align="right">12,209</td>
 <td align="right">14,212</td>
 <td align="right">7,549</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2009–10</th>
 <td align="right">14,980</td>
 <td align="right">17,570</td>
 <td align="right">9,007</td>
 <td align="right">12,819</td>
 <td align="right">15,036</td>
 <td align="right">7,708</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2010–11</th>
 <td align="right">15,540</td>
 <td align="right">18,237</td>
 <td align="right">9,255</td>
 <td align="right">13,566</td>
 <td align="right">15,919</td>
 <td align="right">8,079</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2011–12</th>
 <td align="right">15,980</td>
 <td align="right">18,683</td>
 <td align="right">9,590</td>
 <td align="right">14,359</td>
 <td align="right">16,787</td>
 <td align="right">8,617</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2012–13</th>
 <td align="right">16,444</td>
 <td align="right">19,130</td>
 <td align="right">9,773</td>
 <td align="right">15,021</td>
 <td align="right">17,475</td>
 <td align="right">8,927</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2013–14</th>
 <td align="right">16,846</td>
 <td align="right">19,509</td>
 <td align="right">10,006</td>
 <td align="right">15,628</td>
 <td align="right">18,100</td>
 <td align="right">9,283</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2014–15</th>
 <td align="right">17,323</td>
 <td align="right">19,938</td>
 <td align="right">10,257</td>
 <td align="right">16,188</td>
 <td align="right">18,632</td>
 <td align="right">9,585</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2015–16</th>
 <td align="right">17,821</td>
 <td align="right">20,413</td>
 <td align="right">10,538</td>
 <td align="right">16,766</td>
 <td align="right">19,204</td>
 <td align="right">9,914</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2016–17</th>
 <td align="right">17,992</td>
 <td align="right">20,341</td>
 <td align="right">10,531</td>
 <td align="right">17,238</td>
 <td align="right">19,488</td>
 <td align="right">10,090</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2017–18</th>
 <td align="right">18,163</td>
 <td align="right">20,464</td>
 <td align="right">10,493</td>
 <td align="right">17,794</td>
 <td align="right">20,049</td>
 <td align="right">10,280</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2018–19</th>
 <td align="right">18,383</td>
 <td align="right">20,598</td>
 <td align="right">10,950</td>
 <td align="right">18,383</td>
 <td align="right">20,598</td>
 <td align="right">10,950</td>
 </tr>,
 <tr>
 <td align="left" colspan="7"><strong><b>Private nonprofit and for-profit institutions</b></strong></td>
 </tr>,
 <tr>
 <th align="left" scope="row">1985–86<sup>2</sup></th>
 <td align="right">$20,678</td>
 <td align="right">$21,478</td>
 <td align="right">$15,156</td>
 <td align="right">$8,885</td>
 <td align="right">$9,228</td>
 <td align="right">$6,512</td>
 </tr>,
 <tr>
 <th align="left" scope="row">1995–96</th>
 <td align="right">28,209</td>
 <td align="right">28,870</td>
 <td align="right">18,956</td>
 <td align="right">17,208</td>
 <td align="right">17,612</td>
 <td align="right">11,563</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2000–01</th>
 <td align="right">30,916</td>
 <td align="right">31,614</td>
 <td align="right">21,563</td>
 <td align="right">21,373</td>
 <td align="right">21,856</td>
 <td align="right">14,907</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2001–02</th>
 <td align="right">31,857</td>
 <td align="right">32,542</td>
 <td align="right">22,493</td>
 <td align="right">22,413</td>
 <td align="right">22,896</td>
 <td align="right">15,825</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2002–03</th>
 <td align="right">32,461</td>
 <td align="right">33,082</td>
 <td align="right">24,690</td>
 <td align="right">23,340</td>
 <td align="right">23,787</td>
 <td align="right">17,753</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2003–04</th>
 <td align="right">33,513</td>
 <td align="right">34,120</td>
 <td align="right">26,619</td>
 <td align="right">24,624</td>
 <td align="right">25,070</td>
 <td align="right">19,558</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2004–05</th>
 <td align="right">34,110</td>
 <td align="right">34,695</td>
 <td align="right">26,817</td>
 <td align="right">25,817</td>
 <td align="right">26,260</td>
 <td align="right">20,297</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2005–06</th>
 <td align="right">34,247</td>
 <td align="right">34,788</td>
 <td align="right">27,242</td>
 <td align="right">26,908</td>
 <td align="right">27,333</td>
 <td align="right">21,404</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2006–07</th>
 <td align="right">35,285</td>
 <td align="right">35,879</td>
 <td align="right">25,166</td>
 <td align="right">28,440</td>
 <td align="right">28,919</td>
 <td align="right">20,284</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2007–08</th>
 <td align="right">35,613</td>
 <td align="right">36,160</td>
 <td align="right">25,944</td>
 <td align="right">29,768</td>
 <td align="right">30,226</td>
 <td align="right">21,686</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2008–09</th>
 <td align="right">36,298</td>
 <td align="right">36,850</td>
 <td align="right">26,810</td>
 <td align="right">30,764</td>
 <td align="right">31,232</td>
 <td align="right">22,723</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2009–10</th>
 <td align="right">36,624</td>
 <td align="right">37,215</td>
 <td align="right">28,587</td>
 <td align="right">31,341</td>
 <td align="right">31,847</td>
 <td align="right">24,463</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2010–11</th>
 <td align="right">36,515</td>
 <td align="right">37,250</td>
 <td align="right">26,464</td>
 <td align="right">31,875</td>
 <td align="right">32,517</td>
 <td align="right">23,101</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2011–12</th>
 <td align="right">36,792</td>
 <td align="right">37,481</td>
 <td align="right">26,271</td>
 <td align="right">33,058</td>
 <td align="right">33,677</td>
 <td align="right">23,605</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2012–13</th>
 <td align="right">37,750</td>
 <td align="right">38,394</td>
 <td align="right">25,567</td>
 <td align="right">34,483</td>
 <td align="right">35,071</td>
 <td align="right">23,355</td>
 <tr>
 <th align="left" scope="row">2013–14</th>
 <td align="right">38,799</td>
 <td align="right">39,450</td>
 <td align="right">25,730</td>
 <td align="right">35,995</td>
 <td align="right">36,599</td>
 <td align="right">23,870</td>
 </tr>
 <tr>
 <th align="left" scope="row">2014–15</th>
 <td align="right">40,045</td>
 <td align="right">40,651</td>
 <td align="right">26,032</td>
 <td align="right">37,422</td>
 <td align="right">37,988</td>
 <td align="right">24,327</td>
 <tr>
 <th align="left" scope="row">2015–16</th>
 <td align="right">41,472</td>
 <td align="right">42,021</td>
 <td align="right">25,909</td>
 <td align="right">39,016</td>
 <td align="right">39,534</td>
 <td align="right">24,375</td>
 </tr>
 <tr>
 <th align="left" scope="row">2016–17</th>
 <td align="right">42,712</td>
 <td align="right">43,279</td>
 <td align="right">25,976</td>
 <td align="right">40,922</td>
 <td align="right">41,465</td>
 <td align="right">24,888</td>
 </tr>
 <tr>
 <th align="left" scope="row">2017–18</th>
 <td align="right">43,557</td>
 <td align="right">44,025</td>
 <td align="right">26,126</td>
 <td align="right">42,673</td>
 <td align="right">43,131</td>
 <td align="right">25,596</td>
 </tr>
 <tr>
 <th align="left" scope="row">2018–19</th>
 <td align="right">44,306</td>
 <td align="right">44,662</td>
 <td align="right">28,627</td>
 <td align="right">44,306</td>
 <td align="right">44,662</td>
 <td align="right">28,627</td>
 </tr>
 </tr></tr>,
 <tr>
 <th align="left" scope="row">2013–14</th>
 <td align="right">38,799</td>
 <td align="right">39,450</td>
 <td align="right">25,730</td>
 <td align="right">35,995</td>
 <td align="right">36,599</td>
 <td align="right">23,870</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2014–15</th>
 <td align="right">40,045</td>
 <td align="right">40,651</td>
 <td align="right">26,032</td>
 <td align="right">37,422</td>
 <td align="right">37,988</td>
 <td align="right">24,327</td>
 <tr>
 <th align="left" scope="row">2015–16</th>
 <td align="right">41,472</td>
 <td align="right">42,021</td>
 <td align="right">25,909</td>
 <td align="right">39,016</td>
 <td align="right">39,534</td>
 <td align="right">24,375</td>
 </tr>
 <tr>
 <th align="left" scope="row">2016–17</th>
 <td align="right">42,712</td>
 <td align="right">43,279</td>
 <td align="right">25,976</td>
 <td align="right">40,922</td>
 <td align="right">41,465</td>
 <td align="right">24,888</td>
 </tr>
 <tr>
 <th align="left" scope="row">2017–18</th>
 <td align="right">43,557</td>
 <td align="right">44,025</td>
 <td align="right">26,126</td>
 <td align="right">42,673</td>
 <td align="right">43,131</td>
 <td align="right">25,596</td>
 </tr>
 <tr>
 <th align="left" scope="row">2018–19</th>
 <td align="right">44,306</td>
 <td align="right">44,662</td>
 <td align="right">28,627</td>
 <td align="right">44,306</td>
 <td align="right">44,662</td>
 <td align="right">28,627</td>
 </tr>
 </tr>,
 <tr>
 <th align="left" scope="row">2015–16</th>
 <td align="right">41,472</td>
 <td align="right">42,021</td>
 <td align="right">25,909</td>
 <td align="right">39,016</td>
 <td align="right">39,534</td>
 <td align="right">24,375</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2016–17</th>
 <td align="right">42,712</td>
 <td align="right">43,279</td>
 <td align="right">25,976</td>
 <td align="right">40,922</td>
 <td align="right">41,465</td>
 <td align="right">24,888</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2017–18</th>
 <td align="right">43,557</td>
 <td align="right">44,025</td>
 <td align="right">26,126</td>
 <td align="right">42,673</td>
 <td align="right">43,131</td>
 <td align="right">25,596</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2018–19</th>
 <td align="right">44,306</td>
 <td align="right">44,662</td>
 <td align="right">28,627</td>
 <td align="right">44,306</td>
 <td align="right">44,662</td>
 <td align="right">28,627</td>
 </tr>]

In [4]:
text = []
for item in rows:
    s = item.get_text()
    s = s.strip()
    text.append(s)
text

['Average total tuition, fees, room and board rates charged for full-time undergraduate students in degree-granting institutions, by level and control of institution: Selected years, 1985–86 to 2018–19',
 '',
 'Year and control\r\n      of institution\nConstant 2018–19 dollars1\nCurrent dollars',
 'All institutions',
 '1985–862\n$11,369\n$12,811\n$7,836\n$4,885\n$5,504\n$3,367',
 '1995–96\n14,426\n16,934\n7,745\n8,800\n10,330\n4,725',
 '2000–01\n15,651\n18,692\n7,907\n10,820\n12,922\n5,466',
 '2001–02\n16,175\n19,386\n8,127\n11,380\n13,639\n5,718',
 '2002–03\n16,708\n20,081\n8,695\n12,014\n14,439\n6,252',
 '2003–04\n17,629\n21,103\n9,125\n12,953\n15,505\n6,705',
 '2004–05\n18,224\n21,813\n9,374\n13,793\n16,510\n7,095',
 '2005–06\n18,625\n22,211\n9,209\n14,634\n17,451\n7,236',
 '2006–07\n19,212\n22,918\n9,264\n15,486\n18,473\n7,467',
 '2007–08\n19,413\n23,166\n9,137\n16,227\n19,364\n7,637',
 '2008–09\n20,111\n24,024\n9,697\n17,045\n20,361\n8,219',
 '2009–10\n20,625\n24,687\n9,981\n17,650\n21,126\n8,541',
 '2010–11\n21,165\n25,287\n10,159\n18,475\n22,074\n8,868',
 '2011–12\n21,593\n25,610\n10,402\n19,401\n23,011\n9,347',
 '2012–13\n22,150\n26,132\n10,480\n20,233\n23,871\n9,573',
 '2013–14\n22,630\n26,625\n10,662\n20,995\n24,701\n9,891',
 '2014–15\n23,252\n27,190\n10,864\n21,729\n25,409\n10,153',
 '2015–16\n23,851\n27,777\n11,062\n22,439\n26,132\n10,407',
 '2016–17\n24,101\n27,755\n11,061\n23,091\n26,592\n10,597',
 '2017–18\n24,327\n27,923\n10,925\n23,833\n27,357\n10,704',
 '2018–19\n24,623\n28,123\n11,389\n24,623\n28,123\n11,389',
 'Public institutions',
 '1985–862\n$8,312\n$8,981\n$6,938\n$3,571\n$3,859\n$2,981',
 '1995–96\n10,255\n11,498\n6,912\n6,256\n7,014\n4,217',
 '2000–01\n10,973\n12,517\n7,000\n7,586\n8,653\n4,839',
 '2001–02\n11,401\n13,071\n7,302\n8,022\n9,196\n5,137',
 '2002–03\n11,824\n13,612\n7,790\n8,502\n9,787\n5,601',
 '2003–04\n12,585\n14,527\n8,182\n9,247\n10,674\n6,012',
 '2004–05\n13,033\n15,096\n8,423\n9,864\n11,426\n6,375',
 '2005–06\n13,306\n15,411\n8,262\n10,454\n12,108\n6,492',
 '2007–08\n13,842\n16,066\n8,347\n11,570\n13,429\n6,977',
 '2008–09\n14,405\n16,768\n8,906\n12,209\n14,212\n7,549',
 '2009–10\n14,980\n17,570\n9,007\n12,819\n15,036\n7,708',
 '2010–11\n15,540\n18,237\n9,255\n13,566\n15,919\n8,079',
 '2011–12\n15,980\n18,683\n9,590\n14,359\n16,787\n8,617',
 '2012–13\n16,444\n19,130\n9,773\n15,021\n17,475\n8,927',
 '2013–14\n16,846\n19,509\n10,006\n15,628\n18,100\n9,283',
 '2014–15\n17,323\n19,938\n10,257\n16,188\n18,632\n9,585',
 '2015–16\n17,821\n20,413\n10,538\n16,766\n19,204\n9,914',
 '2016–17\n17,992\n20,341\n10,531\n17,238\n19,488\n10,090',
 '2017–18\n18,163\n20,464\n10,493\n17,794\n20,049\n10,280',
 '2018–19\n18,383\n20,598\n10,950\n18,383\n20,598\n10,950',
 'Private nonprofit and for-profit institutions',
 '1985–862\n$20,678\n$21,478\n$15,156\n$8,885\n$9,228\n$6,512',
 '1995–96\n28,209\n28,870\n18,956\n17,208\n17,612\n11,563',
 '2000–01\n30,916\n31,614\n21,563\n21,373\n21,856\n14,907',
 '2001–02\n31,857\n32,542\n22,493\n22,413\n22,896\n15,825',
 '2002–03\n32,461\n33,082\n24,690\n23,340\n23,787\n17,753',
 '2003–04\n33,513\n34,120\n26,619\n24,624\n25,070\n19,558',
 '2004–05\n34,110\n34,695\n26,817\n25,817\n26,260\n20,297',
 '2005–06\n34,247\n34,788\n27,242\n26,908\n27,333\n21,404',
 '2006–07\n35,285\n35,879\n25,166\n28,440\n28,919\n20,284',
 '2007–08\n35,613\n36,160\n25,944\n29,768\n30,226\n21,686',
 '2008–09\n36,298\n36,850\n26,810\n30,764\n31,232\n22,723',
 '2009–10\n36,624\n37,215\n28,587\n31,341\n31,847\n24,463',
 '2010–11\n36,515\n37,250\n26,464\n31,875\n32,517\n23,101',
 '2011–12\n36,792\n37,481\n26,271\n33,058\n33,677\n23,605',
 '2012–13\n37,750\n38,394\n25,567\n34,483\n35,071\n23,355\n\n2013–14\n38,799\n39,450\n25,730\n35,995\n36,599\n23,870\n\n\n2014–15\n40,045\n40,651\n26,032\n37,422\n37,988\n24,327\n\n2015–16\n41,472\n42,021\n25,909\n39,016\n39,534\n24,375\n\n\n2016–17\n42,712\n43,279\n25,976\n40,922\n41,465\n24,888\n\n\n2017–18\n43,557\n44,025\n26,126\n42,673\n43,131\n25,596\n\n\n2018–19\n44,306\n44,662\n28,627\n44,306\n44,662\n28,627',
 '2013–14\n38,799\n39,450\n25,730\n35,995\n36,599\n23,870',
 '2014–15\n40,045\n40,651\n26,032\n37,422\n37,988\n24,327\n\n2015–16\n41,472\n42,021\n25,909\n39,016\n39,534\n24,375\n\n\n2016–17\n42,712\n43,279\n25,976\n40,922\n41,465\n24,888\n\n\n2017–18\n43,557\n44,025\n26,126\n42,673\n43,131\n25,596\n\n\n2018–19\n44,306\n44,662\n28,627\n44,306\n44,662\n28,627',
 '2015–16\n41,472\n42,021\n25,909\n39,016\n39,534\n24,375',
 '2016–17\n42,712\n43,279\n25,976\n40,922\n41,465\n24,888',
 '2017–18\n43,557\n44,025\n26,126\n42,673\n43,131\n25,596',
 '2018–19\n44,306\n44,662\n28,627\n44,306\n44,662\n28,627']

In [5]:
all_institutions = [item.split() for item in text[4:25]]
all_institutions

[['1985–862', '$11,369', '$12,811', '$7,836', '$4,885', '$5,504', '$3,367'],
 ['1995–96', '14,426', '16,934', '7,745', '8,800', '10,330', '4,725'],
 ['2000–01', '15,651', '18,692', '7,907', '10,820', '12,922', '5,466'],
 ['2001–02', '16,175', '19,386', '8,127', '11,380', '13,639', '5,718'],
 ['2002–03', '16,708', '20,081', '8,695', '12,014', '14,439', '6,252'],
 ['2003–04', '17,629', '21,103', '9,125', '12,953', '15,505', '6,705'],
 ['2004–05', '18,224', '21,813', '9,374', '13,793', '16,510', '7,095'],
 ['2005–06', '18,625', '22,211', '9,209', '14,634', '17,451', '7,236'],
 ['2006–07', '19,212', '22,918', '9,264', '15,486', '18,473', '7,467'],
 ['2007–08', '19,413', '23,166', '9,137', '16,227', '19,364', '7,637'],
 ['2008–09', '20,111', '24,024', '9,697', '17,045', '20,361', '8,219'],
 ['2009–10', '20,625', '24,687', '9,981', '17,650', '21,126', '8,541'],
 ['2010–11', '21,165', '25,287', '10,159', '18,475', '22,074', '8,868'],
 ['2011–12', '21,593', '25,610', '10,402', '19,401', '23,011', '9,347'],
 ['2012–13', '22,150', '26,132', '10,480', '20,233', '23,871', '9,573'],
 ['2013–14', '22,630', '26,625', '10,662', '20,995', '24,701', '9,891'],
 ['2014–15', '23,252', '27,190', '10,864', '21,729', '25,409', '10,153'],
 ['2015–16', '23,851', '27,777', '11,062', '22,439', '26,132', '10,407'],
 ['2016–17', '24,101', '27,755', '11,061', '23,091', '26,592', '10,597'],
 ['2017–18', '24,327', '27,923', '10,925', '23,833', '27,357', '10,704'],
 ['2018–19', '24,623', '28,123', '11,389', '24,623', '28,123', '11,389']]

In [6]:
public_institutions = [item.split() for item in text[26:46]]
public_institutions

[['1985–862', '$8,312', '$8,981', '$6,938', '$3,571', '$3,859', '$2,981'],
 ['1995–96', '10,255', '11,498', '6,912', '6,256', '7,014', '4,217'],
 ['2000–01', '10,973', '12,517', '7,000', '7,586', '8,653', '4,839'],
 ['2001–02', '11,401', '13,071', '7,302', '8,022', '9,196', '5,137'],
 ['2002–03', '11,824', '13,612', '7,790', '8,502', '9,787', '5,601'],
 ['2003–04', '12,585', '14,527', '8,182', '9,247', '10,674', '6,012'],
 ['2004–05', '13,033', '15,096', '8,423', '9,864', '11,426', '6,375'],
 ['2005–06', '13,306', '15,411', '8,262', '10,454', '12,108', '6,492'],
 ['2007–08', '13,842', '16,066', '8,347', '11,570', '13,429', '6,977'],
 ['2008–09', '14,405', '16,768', '8,906', '12,209', '14,212', '7,549'],
 ['2009–10', '14,980', '17,570', '9,007', '12,819', '15,036', '7,708'],
 ['2010–11', '15,540', '18,237', '9,255', '13,566', '15,919', '8,079'],
 ['2011–12', '15,980', '18,683', '9,590', '14,359', '16,787', '8,617'],
 ['2012–13', '16,444', '19,130', '9,773', '15,021', '17,475', '8,927'],
 ['2013–14', '16,846', '19,509', '10,006', '15,628', '18,100', '9,283'],
 ['2014–15', '17,323', '19,938', '10,257', '16,188', '18,632', '9,585'],
 ['2015–16', '17,821', '20,413', '10,538', '16,766', '19,204', '9,914'],
 ['2016–17', '17,992', '20,341', '10,531', '17,238', '19,488', '10,090'],
 ['2017–18', '18,163', '20,464', '10,493', '17,794', '20,049', '10,280'],
 ['2018–19', '18,383', '20,598', '10,950', '18,383', '20,598', '10,950']]

In [7]:
private_institutions = [item.split() for item in text[47:]]
private_institutions

[['1985–862', '$20,678', '$21,478', '$15,156', '$8,885', '$9,228', '$6,512'],
 ['1995–96', '28,209', '28,870', '18,956', '17,208', '17,612', '11,563'],
 ['2000–01', '30,916', '31,614', '21,563', '21,373', '21,856', '14,907'],
 ['2001–02', '31,857', '32,542', '22,493', '22,413', '22,896', '15,825'],
 ['2002–03', '32,461', '33,082', '24,690', '23,340', '23,787', '17,753'],
 ['2003–04', '33,513', '34,120', '26,619', '24,624', '25,070', '19,558'],
 ['2004–05', '34,110', '34,695', '26,817', '25,817', '26,260', '20,297'],
 ['2005–06', '34,247', '34,788', '27,242', '26,908', '27,333', '21,404'],
 ['2006–07', '35,285', '35,879', '25,166', '28,440', '28,919', '20,284'],
 ['2007–08', '35,613', '36,160', '25,944', '29,768', '30,226', '21,686'],
 ['2008–09', '36,298', '36,850', '26,810', '30,764', '31,232', '22,723'],
 ['2009–10', '36,624', '37,215', '28,587', '31,341', '31,847', '24,463'],
 ['2010–11', '36,515', '37,250', '26,464', '31,875', '32,517', '23,101'],
 ['2011–12', '36,792', '37,481', '26,271', '33,058', '33,677', '23,605'],
 ['2012–13',
  '37,750',
  '38,394',
  '25,567',
  '34,483',
  '35,071',
  '23,355',
  '2013–14',
  '38,799',
  '39,450',
  '25,730',
  '35,995',
  '36,599',
  '23,870',
  '2014–15',
  '40,045',
  '40,651',
  '26,032',
  '37,422',
  '37,988',
  '24,327',
  '2015–16',
  '41,472',
  '42,021',
  '25,909',
  '39,016',
  '39,534',
  '24,375',
  '2016–17',
  '42,712',
  '43,279',
  '25,976',
  '40,922',
  '41,465',
  '24,888',
  '2017–18',
  '43,557',
  '44,025',
  '26,126',
  '42,673',
  '43,131',
  '25,596',
  '2018–19',
  '44,306',
  '44,662',
  '28,627',
  '44,306',
  '44,662',
  '28,627'],
 ['2013–14', '38,799', '39,450', '25,730', '35,995', '36,599', '23,870'],
 ['2014–15',
  '40,045',
  '40,651',
  '26,032',
  '37,422',
  '37,988',
  '24,327',
  '2015–16',
  '41,472',
  '42,021',
  '25,909',
  '39,016',
  '39,534',
  '24,375',
  '2016–17',
  '42,712',
  '43,279',
  '25,976',
  '40,922',
  '41,465',
  '24,888',
  '2017–18',
  '43,557',
  '44,025',
  '26,126',
  '42,673',
  '43,131',
  '25,596',
  '2018–19',
  '44,306',
  '44,662',
  '28,627',
  '44,306',
  '44,662',
  '28,627'],
 ['2015–16', '41,472', '42,021', '25,909', '39,016', '39,534', '24,375'],
 ['2016–17', '42,712', '43,279', '25,976', '40,922', '41,465', '24,888'],
 ['2017–18', '43,557', '44,025', '26,126', '42,673', '43,131', '25,596'],
 ['2018–19', '44,306', '44,662', '28,627', '44,306', '44,662', '28,627']]

In [8]:
#We then trim down the incorrect lines for private institutions with another list comprehension
private_institutions = [item[0:7] for item in private_institutions]
private_institutions

[['1985–862', '$20,678', '$21,478', '$15,156', '$8,885', '$9,228', '$6,512'],
 ['1995–96', '28,209', '28,870', '18,956', '17,208', '17,612', '11,563'],
 ['2000–01', '30,916', '31,614', '21,563', '21,373', '21,856', '14,907'],
 ['2001–02', '31,857', '32,542', '22,493', '22,413', '22,896', '15,825'],
 ['2002–03', '32,461', '33,082', '24,690', '23,340', '23,787', '17,753'],
 ['2003–04', '33,513', '34,120', '26,619', '24,624', '25,070', '19,558'],
 ['2004–05', '34,110', '34,695', '26,817', '25,817', '26,260', '20,297'],
 ['2005–06', '34,247', '34,788', '27,242', '26,908', '27,333', '21,404'],
 ['2006–07', '35,285', '35,879', '25,166', '28,440', '28,919', '20,284'],
 ['2007–08', '35,613', '36,160', '25,944', '29,768', '30,226', '21,686'],
 ['2008–09', '36,298', '36,850', '26,810', '30,764', '31,232', '22,723'],
 ['2009–10', '36,624', '37,215', '28,587', '31,341', '31,847', '24,463'],
 ['2010–11', '36,515', '37,250', '26,464', '31,875', '32,517', '23,101'],
 ['2011–12', '36,792', '37,481', '26,271', '33,058', '33,677', '23,605'],
 ['2012–13', '37,750', '38,394', '25,567', '34,483', '35,071', '23,355'],
 ['2013–14', '38,799', '39,450', '25,730', '35,995', '36,599', '23,870'],
 ['2014–15', '40,045', '40,651', '26,032', '37,422', '37,988', '24,327'],
 ['2015–16', '41,472', '42,021', '25,909', '39,016', '39,534', '24,375'],
 ['2016–17', '42,712', '43,279', '25,976', '40,922', '41,465', '24,888'],
 ['2017–18', '43,557', '44,025', '26,126', '42,673', '43,131', '25,596'],
 ['2018–19', '44,306', '44,662', '28,627', '44,306', '44,662', '28,627']]

In [18]:
#combine the three lists into one so we can save as a csv
#the second tier of table headers weren't grabbed by beautiful soup, so we're adding them manually. There are \\
#only six, so it's a better use of time to do it this way rather than try to write a script.
headers = [['Category','Year', 'Constant_All', 'Constant_4-Year', 'Constant_2-year', 'Contemporary_All', 'Contemporary_4-Year', 'Contemporary_2-Year']]
if all_institutions[0][0] != 'all':
    all_institutions = [['all']+item for item in all_institutions]
    public_institutions = [['pub']+item for item in public_institutions]
    private_institutions = [['pri']+item for item in private_institutions]
combined = headers+all_institutions + public_institutions + private_institutions

In [19]:
combined = [','.join(row) for row in combined]
combined[:5]

['Category,Year,Constant_All,Constant_4-Year,Constant_2-year,Contemporary_All,Contemporary_4-Year,Contemporary_2-Year',
 'all,1985–862,$11,369,$12,811,$7,836,$4,885,$5,504,$3,367',
 'all,1995–96,14,426,16,934,7,745,8,800,10,330,4,725',
 'all,2000–01,15,651,18,692,7,907,10,820,12,922,5,466',
 'all,2001–02,16,175,19,386,8,127,11,380,13,639,5,718']

In [20]:
with open("data/table.csv", 'w') as file:
    for row in combined:
        row=row.replace('$','')
        file.write(row + "\n")