In [30]:
from bs4 import BeautifulSoup as bs
import requests
import re

url = 'https://nces.ed.gov/fastfacts/display.asp?id=76'
response = requests.get(url)

#html = response.read().decode('cp1252')
htmlsoup = bs(response.content, "html.parser")
table = htmlsoup.find_all('tr')

rows = [] 
for x in htmlsoup.find_all('table'):
    rows.extend(
         (i for i in x.find_all('tr'))
    )
rows

[<tr>
 <td align="center" colspan="7"><em>Average total tuition, fees, room and board rates charged for full-time undergraduate students in degree-granting institutions, by level and control of institution: Selected years, 1985–86 to 2018–19 </em></td>
 </tr>,
 <tr></tr>,
 <tr>
 <th align="left" rowspan="2" scope="col" valign="bottom"><strong>Year and control<br>
       of institution</br></strong></th>
 <th align="center" colspan="3" scope="col" valign="bottom"><strong>Constant 2018–19 dollars<sup>1</sup></strong></th>
 <th align="center" colspan="3" scope="col" valign="bottom"><strong>Current dollars</strong></th>
 </tr>,
 <tr>
 <td align="left" colspan="7"><strong><b> All institutions</b></strong></td>
 </tr>,
 <tr>
 <th align="left" scope="row">1985–86<sup>2</sup></th>
 <td align="right">$11,369</td>
 <td align="right">$12,811</td>
 <td align="right">$7,836</td>
 <td align="right">$4,885</td>
 <td align="right">$5,504</td>
 <td align="right">$3,367</td>
 </tr>,
 <tr>
 <th align="left" scope="row">1995–96</th>
 <td align="right">14,426</td>
 <td align="right">16,934</td>
 <td align="right">7,745</td>
 <td align="right">8,800</td>
 <td align="right">10,330</td>
 <td align="right">4,725</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2000–01</th>
 <td align="right">15,651</td>
 <td align="right">18,692</td>
 <td align="right">7,907</td>
 <td align="right">10,820</td>
 <td align="right">12,922</td>
 <td align="right">5,466</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2001–02</th>
 <td align="right">16,175</td>
 <td align="right">19,386</td>
 <td align="right">8,127</td>
 <td align="right">11,380</td>
 <td align="right">13,639</td>
 <td align="right">5,718</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2002–03</th>
 <td align="right">16,708</td>
 <td align="right">20,081</td>
 <td align="right">8,695</td>
 <td align="right">12,014</td>
 <td align="right">14,439</td>
 <td align="right">6,252</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2003–04</th>
 <td align="right">17,629</td>
 <td align="right">21,103</td>
 <td align="right">9,125</td>
 <td align="right">12,953</td>
 <td align="right">15,505</td>
 <td align="right">6,705</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2004–05</th>
 <td align="right">18,224</td>
 <td align="right">21,813</td>
 <td align="right">9,374</td>
 <td align="right">13,793</td>
 <td align="right">16,510</td>
 <td align="right">7,095</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2005–06</th>
 <td align="right">18,625</td>
 <td align="right">22,211</td>
 <td align="right">9,209</td>
 <td align="right">14,634</td>
 <td align="right">17,451</td>
 <td align="right">7,236</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2006–07</th>
 <td align="right">19,212</td>
 <td align="right">22,918</td>
 <td align="right">9,264</td>
 <td align="right">15,486</td>
 <td align="right">18,473</td>
 <td align="right">7,467</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2007–08</th>
 <td align="right">19,413</td>
 <td align="right">23,166</td>
 <td align="right">9,137</td>
 <td align="right">16,227</td>
 <td align="right">19,364</td>
 <td align="right">7,637</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2008–09</th>
 <td align="right">20,111</td>
 <td align="right">24,024</td>
 <td align="right">9,697</td>
 <td align="right">17,045</td>
 <td align="right">20,361</td>
 <td align="right">8,219</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2009–10</th>
 <td align="right">20,625</td>
 <td align="right">24,687</td>
 <td align="right">9,981</td>
 <td align="right">17,650</td>
 <td align="right">21,126</td>
 <td align="right">8,541</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2010–11</th>
 <td align="right">21,165</td>
 <td align="right">25,287</td>
 <td align="right">10,159</td>
 <td align="right">18,475</td>
 <td align="right">22,074</td>
 <td align="right">8,868</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2011–12</th>
 <td align="right">21,593</td>
 <td align="right">25,610</td>
 <td align="right">10,402</td>
 <td align="right">19,401</td>
 <td align="right">23,011</td>
 <td align="right">9,347</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2012–13</th>
 <td align="right">22,150</td>
 <td align="right">26,132</td>
 <td align="right">10,480</td>
 <td align="right">20,233</td>
 <td align="right">23,871</td>
 <td align="right">9,573</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2013–14</th>
 <td align="right">22,630</td>
 <td align="right">26,625</td>
 <td align="right">10,662</td>
 <td align="right">20,995</td>
 <td align="right">24,701</td>
 <td align="right">9,891</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2014–15</th>
 <td align="right">23,252</td>
 <td align="right">27,190</td>
 <td align="right">10,864</td>
 <td align="right">21,729</td>
 <td align="right">25,409</td>
 <td align="right">10,153</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2015–16</th>
 <td align="right">23,851</td>
 <td align="right">27,777</td>
 <td align="right">11,062</td>
 <td align="right">22,439</td>
 <td align="right">26,132</td>
 <td align="right">10,407</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2016–17</th>
 <td align="right">24,101</td>
 <td align="right">27,755</td>
 <td align="right">11,061</td>
 <td align="right">23,091</td>
 <td align="right">26,592</td>
 <td align="right">10,597</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2017–18</th>
 <td align="right">24,327</td>
 <td align="right">27,923</td>
 <td align="right">10,925</td>
 <td align="right">23,833</td>
 <td align="right">27,357</td>
 <td align="right">10,704</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2018–19</th>
 <td align="right">24,623</td>
 <td align="right">28,123</td>
 <td align="right">11,389</td>
 <td align="right">24,623</td>
 <td align="right">28,123</td>
 <td align="right">11,389</td>
 </tr>,
 <tr>
 <td align="left" colspan="7"><strong><b>Public institutions</b></strong></td>
 </tr>,
 <tr>
 <th align="left" scope="row">1985–86<sup>2</sup></th>
 <td align="right">$8,312</td>
 <td align="right">$8,981</td>
 <td align="right">$6,938</td>
 <td align="right">$3,571</td>
 <td align="right">$3,859</td>
 <td align="right">$2,981</td>
 </tr>,
 <tr>
 <th align="left" scope="row">1995–96</th>
 <td align="right">10,255</td>
 <td align="right">11,498</td>
 <td align="right">6,912</td>
 <td align="right">6,256</td>
 <td align="right">7,014</td>
 <td align="right">4,217</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2000–01</th>
 <td align="right">10,973</td>
 <td align="right">12,517</td>
 <td align="right">7,000</td>
 <td align="right">7,586</td>
 <td align="right">8,653</td>
 <td align="right">4,839</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2001–02</th>
 <td align="right">11,401</td>
 <td align="right">13,071</td>
 <td align="right">7,302</td>
 <td align="right">8,022</td>
 <td align="right">9,196</td>
 <td align="right">5,137</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2002–03</th>
 <td align="right">11,824</td>
 <td align="right">13,612</td>
 <td align="right">7,790</td>
 <td align="right">8,502</td>
 <td align="right">9,787</td>
 <td align="right">5,601</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2003–04</th>
 <td align="right">12,585</td>
 <td align="right">14,527</td>
 <td align="right">8,182</td>
 <td align="right">9,247</td>
 <td align="right">10,674</td>
 <td align="right">6,012</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2004–05</th>
 <td align="right">13,033</td>
 <td align="right">15,096</td>
 <td align="right">8,423</td>
 <td align="right">9,864</td>
 <td align="right">11,426</td>
 <td align="right">6,375</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2005–06</th>
 <td align="right">13,306</td>
 <td align="right">15,411</td>
 <td align="right">8,262</td>
 <td align="right">10,454</td>
 <td align="right">12,108</td>
 <td align="right">6,492</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2007–08</th>
 <td align="right">13,842</td>
 <td align="right">16,066</td>
 <td align="right">8,347</td>
 <td align="right">11,570</td>
 <td align="right">13,429</td>
 <td align="right">6,977</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2008–09</th>
 <td align="right">14,405</td>
 <td align="right">16,768</td>
 <td align="right">8,906</td>
 <td align="right">12,209</td>
 <td align="right">14,212</td>
 <td align="right">7,549</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2009–10</th>
 <td align="right">14,980</td>
 <td align="right">17,570</td>
 <td align="right">9,007</td>
 <td align="right">12,819</td>
 <td align="right">15,036</td>
 <td align="right">7,708</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2010–11</th>
 <td align="right">15,540</td>
 <td align="right">18,237</td>
 <td align="right">9,255</td>
 <td align="right">13,566</td>
 <td align="right">15,919</td>
 <td align="right">8,079</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2011–12</th>
 <td align="right">15,980</td>
 <td align="right">18,683</td>
 <td align="right">9,590</td>
 <td align="right">14,359</td>
 <td align="right">16,787</td>
 <td align="right">8,617</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2012–13</th>
 <td align="right">16,444</td>
 <td align="right">19,130</td>
 <td align="right">9,773</td>
 <td align="right">15,021</td>
 <td align="right">17,475</td>
 <td align="right">8,927</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2013–14</th>
 <td align="right">16,846</td>
 <td align="right">19,509</td>
 <td align="right">10,006</td>
 <td align="right">15,628</td>
 <td align="right">18,100</td>
 <td align="right">9,283</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2014–15</th>
 <td align="right">17,323</td>
 <td align="right">19,938</td>
 <td align="right">10,257</td>
 <td align="right">16,188</td>
 <td align="right">18,632</td>
 <td align="right">9,585</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2015–16</th>
 <td align="right">17,821</td>
 <td align="right">20,413</td>
 <td align="right">10,538</td>
 <td align="right">16,766</td>
 <td align="right">19,204</td>
 <td align="right">9,914</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2016–17</th>
 <td align="right">17,992</td>
 <td align="right">20,341</td>
 <td align="right">10,531</td>
 <td align="right">17,238</td>
 <td align="right">19,488</td>
 <td align="right">10,090</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2017–18</th>
 <td align="right">18,163</td>
 <td align="right">20,464</td>
 <td align="right">10,493</td>
 <td align="right">17,794</td>
 <td align="right">20,049</td>
 <td align="right">10,280</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2018–19</th>
 <td align="right">18,383</td>
 <td align="right">20,598</td>
 <td align="right">10,950</td>
 <td align="right">18,383</td>
 <td align="right">20,598</td>
 <td align="right">10,950</td>
 </tr>,
 <tr>
 <td align="left" colspan="7"><strong><b>Private nonprofit and for-profit institutions</b></strong></td>
 </tr>,
 <tr>
 <th align="left" scope="row">1985–86<sup>2</sup></th>
 <td align="right">$20,678</td>
 <td align="right">$21,478</td>
 <td align="right">$15,156</td>
 <td align="right">$8,885</td>
 <td align="right">$9,228</td>
 <td align="right">$6,512</td>
 </tr>,
 <tr>
 <th align="left" scope="row">1995–96</th>
 <td align="right">28,209</td>
 <td align="right">28,870</td>
 <td align="right">18,956</td>
 <td align="right">17,208</td>
 <td align="right">17,612</td>
 <td align="right">11,563</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2000–01</th>
 <td align="right">30,916</td>
 <td align="right">31,614</td>
 <td align="right">21,563</td>
 <td align="right">21,373</td>
 <td align="right">21,856</td>
 <td align="right">14,907</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2001–02</th>
 <td align="right">31,857</td>
 <td align="right">32,542</td>
 <td align="right">22,493</td>
 <td align="right">22,413</td>
 <td align="right">22,896</td>
 <td align="right">15,825</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2002–03</th>
 <td align="right">32,461</td>
 <td align="right">33,082</td>
 <td align="right">24,690</td>
 <td align="right">23,340</td>
 <td align="right">23,787</td>
 <td align="right">17,753</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2003–04</th>
 <td align="right">33,513</td>
 <td align="right">34,120</td>
 <td align="right">26,619</td>
 <td align="right">24,624</td>
 <td align="right">25,070</td>
 <td align="right">19,558</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2004–05</th>
 <td align="right">34,110</td>
 <td align="right">34,695</td>
 <td align="right">26,817</td>
 <td align="right">25,817</td>
 <td align="right">26,260</td>
 <td align="right">20,297</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2005–06</th>
 <td align="right">34,247</td>
 <td align="right">34,788</td>
 <td align="right">27,242</td>
 <td align="right">26,908</td>
 <td align="right">27,333</td>
 <td align="right">21,404</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2006–07</th>
 <td align="right">35,285</td>
 <td align="right">35,879</td>
 <td align="right">25,166</td>
 <td align="right">28,440</td>
 <td align="right">28,919</td>
 <td align="right">20,284</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2007–08</th>
 <td align="right">35,613</td>
 <td align="right">36,160</td>
 <td align="right">25,944</td>
 <td align="right">29,768</td>
 <td align="right">30,226</td>
 <td align="right">21,686</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2008–09</th>
 <td align="right">36,298</td>
 <td align="right">36,850</td>
 <td align="right">26,810</td>
 <td align="right">30,764</td>
 <td align="right">31,232</td>
 <td align="right">22,723</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2009–10</th>
 <td align="right">36,624</td>
 <td align="right">37,215</td>
 <td align="right">28,587</td>
 <td align="right">31,341</td>
 <td align="right">31,847</td>
 <td align="right">24,463</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2010–11</th>
 <td align="right">36,515</td>
 <td align="right">37,250</td>
 <td align="right">26,464</td>
 <td align="right">31,875</td>
 <td align="right">32,517</td>
 <td align="right">23,101</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2011–12</th>
 <td align="right">36,792</td>
 <td align="right">37,481</td>
 <td align="right">26,271</td>
 <td align="right">33,058</td>
 <td align="right">33,677</td>
 <td align="right">23,605</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2012–13</th>
 <td align="right">37,750</td>
 <td align="right">38,394</td>
 <td align="right">25,567</td>
 <td align="right">34,483</td>
 <td align="right">35,071</td>
 <td align="right">23,355</td>
 <tr>
 <th align="left" scope="row">2013–14</th>
 <td align="right">38,799</td>
 <td align="right">39,450</td>
 <td align="right">25,730</td>
 <td align="right">35,995</td>
 <td align="right">36,599</td>
 <td align="right">23,870</td>
 </tr>
 <tr>
 <th align="left" scope="row">2014–15</th>
 <td align="right">40,045</td>
 <td align="right">40,651</td>
 <td align="right">26,032</td>
 <td align="right">37,422</td>
 <td align="right">37,988</td>
 <td align="right">24,327</td>
 <tr>
 <th align="left" scope="row">2015–16</th>
 <td align="right">41,472</td>
 <td align="right">42,021</td>
 <td align="right">25,909</td>
 <td align="right">39,016</td>
 <td align="right">39,534</td>
 <td align="right">24,375</td>
 </tr>
 <tr>
 <th align="left" scope="row">2016–17</th>
 <td align="right">42,712</td>
 <td align="right">43,279</td>
 <td align="right">25,976</td>
 <td align="right">40,922</td>
 <td align="right">41,465</td>
 <td align="right">24,888</td>
 </tr>
 <tr>
 <th align="left" scope="row">2017–18</th>
 <td align="right">43,557</td>
 <td align="right">44,025</td>
 <td align="right">26,126</td>
 <td align="right">42,673</td>
 <td align="right">43,131</td>
 <td align="right">25,596</td>
 </tr>
 <tr>
 <th align="left" scope="row">2018–19</th>
 <td align="right">44,306</td>
 <td align="right">44,662</td>
 <td align="right">28,627</td>
 <td align="right">44,306</td>
 <td align="right">44,662</td>
 <td align="right">28,627</td>
 </tr>
 </tr></tr>,
 <tr>
 <th align="left" scope="row">2013–14</th>
 <td align="right">38,799</td>
 <td align="right">39,450</td>
 <td align="right">25,730</td>
 <td align="right">35,995</td>
 <td align="right">36,599</td>
 <td align="right">23,870</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2014–15</th>
 <td align="right">40,045</td>
 <td align="right">40,651</td>
 <td align="right">26,032</td>
 <td align="right">37,422</td>
 <td align="right">37,988</td>
 <td align="right">24,327</td>
 <tr>
 <th align="left" scope="row">2015–16</th>
 <td align="right">41,472</td>
 <td align="right">42,021</td>
 <td align="right">25,909</td>
 <td align="right">39,016</td>
 <td align="right">39,534</td>
 <td align="right">24,375</td>
 </tr>
 <tr>
 <th align="left" scope="row">2016–17</th>
 <td align="right">42,712</td>
 <td align="right">43,279</td>
 <td align="right">25,976</td>
 <td align="right">40,922</td>
 <td align="right">41,465</td>
 <td align="right">24,888</td>
 </tr>
 <tr>
 <th align="left" scope="row">2017–18</th>
 <td align="right">43,557</td>
 <td align="right">44,025</td>
 <td align="right">26,126</td>
 <td align="right">42,673</td>
 <td align="right">43,131</td>
 <td align="right">25,596</td>
 </tr>
 <tr>
 <th align="left" scope="row">2018–19</th>
 <td align="right">44,306</td>
 <td align="right">44,662</td>
 <td align="right">28,627</td>
 <td align="right">44,306</td>
 <td align="right">44,662</td>
 <td align="right">28,627</td>
 </tr>
 </tr>,
 <tr>
 <th align="left" scope="row">2015–16</th>
 <td align="right">41,472</td>
 <td align="right">42,021</td>
 <td align="right">25,909</td>
 <td align="right">39,016</td>
 <td align="right">39,534</td>
 <td align="right">24,375</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2016–17</th>
 <td align="right">42,712</td>
 <td align="right">43,279</td>
 <td align="right">25,976</td>
 <td align="right">40,922</td>
 <td align="right">41,465</td>
 <td align="right">24,888</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2017–18</th>
 <td align="right">43,557</td>
 <td align="right">44,025</td>
 <td align="right">26,126</td>
 <td align="right">42,673</td>
 <td align="right">43,131</td>
 <td align="right">25,596</td>
 </tr>,
 <tr>
 <th align="left" scope="row">2018–19</th>
 <td align="right">44,306</td>
 <td align="right">44,662</td>
 <td align="right">28,627</td>
 <td align="right">44,306</td>
 <td align="right">44,662</td>
 <td align="right">28,627</td>
 </tr>]

In [31]:
text = []
for item in rows:
    s = item.get_text()
    s = s.strip()
    s = s.replace(',','')
    text.append(s)
text

['Average total tuition fees room and board rates charged for full-time undergraduate students in degree-granting institutions by level and control of institution: Selected years 1985–86 to 2018–19',
 '',
 'Year and control\r\n      of institution\nConstant 2018–19 dollars1\nCurrent dollars',
 'All institutions',
 '1985–862\n$11369\n$12811\n$7836\n$4885\n$5504\n$3367',
 '1995–96\n14426\n16934\n7745\n8800\n10330\n4725',
 '2000–01\n15651\n18692\n7907\n10820\n12922\n5466',
 '2001–02\n16175\n19386\n8127\n11380\n13639\n5718',
 '2002–03\n16708\n20081\n8695\n12014\n14439\n6252',
 '2003–04\n17629\n21103\n9125\n12953\n15505\n6705',
 '2004–05\n18224\n21813\n9374\n13793\n16510\n7095',
 '2005–06\n18625\n22211\n9209\n14634\n17451\n7236',
 '2006–07\n19212\n22918\n9264\n15486\n18473\n7467',
 '2007–08\n19413\n23166\n9137\n16227\n19364\n7637',
 '2008–09\n20111\n24024\n9697\n17045\n20361\n8219',
 '2009–10\n20625\n24687\n9981\n17650\n21126\n8541',
 '2010–11\n21165\n25287\n10159\n18475\n22074\n8868',
 '2011–12\n21593\n25610\n10402\n19401\n23011\n9347',
 '2012–13\n22150\n26132\n10480\n20233\n23871\n9573',
 '2013–14\n22630\n26625\n10662\n20995\n24701\n9891',
 '2014–15\n23252\n27190\n10864\n21729\n25409\n10153',
 '2015–16\n23851\n27777\n11062\n22439\n26132\n10407',
 '2016–17\n24101\n27755\n11061\n23091\n26592\n10597',
 '2017–18\n24327\n27923\n10925\n23833\n27357\n10704',
 '2018–19\n24623\n28123\n11389\n24623\n28123\n11389',
 'Public institutions',
 '1985–862\n$8312\n$8981\n$6938\n$3571\n$3859\n$2981',
 '1995–96\n10255\n11498\n6912\n6256\n7014\n4217',
 '2000–01\n10973\n12517\n7000\n7586\n8653\n4839',
 '2001–02\n11401\n13071\n7302\n8022\n9196\n5137',
 '2002–03\n11824\n13612\n7790\n8502\n9787\n5601',
 '2003–04\n12585\n14527\n8182\n9247\n10674\n6012',
 '2004–05\n13033\n15096\n8423\n9864\n11426\n6375',
 '2005–06\n13306\n15411\n8262\n10454\n12108\n6492',
 '2007–08\n13842\n16066\n8347\n11570\n13429\n6977',
 '2008–09\n14405\n16768\n8906\n12209\n14212\n7549',
 '2009–10\n14980\n17570\n9007\n12819\n15036\n7708',
 '2010–11\n15540\n18237\n9255\n13566\n15919\n8079',
 '2011–12\n15980\n18683\n9590\n14359\n16787\n8617',
 '2012–13\n16444\n19130\n9773\n15021\n17475\n8927',
 '2013–14\n16846\n19509\n10006\n15628\n18100\n9283',
 '2014–15\n17323\n19938\n10257\n16188\n18632\n9585',
 '2015–16\n17821\n20413\n10538\n16766\n19204\n9914',
 '2016–17\n17992\n20341\n10531\n17238\n19488\n10090',
 '2017–18\n18163\n20464\n10493\n17794\n20049\n10280',
 '2018–19\n18383\n20598\n10950\n18383\n20598\n10950',
 'Private nonprofit and for-profit institutions',
 '1985–862\n$20678\n$21478\n$15156\n$8885\n$9228\n$6512',
 '1995–96\n28209\n28870\n18956\n17208\n17612\n11563',
 '2000–01\n30916\n31614\n21563\n21373\n21856\n14907',
 '2001–02\n31857\n32542\n22493\n22413\n22896\n15825',
 '2002–03\n32461\n33082\n24690\n23340\n23787\n17753',
 '2003–04\n33513\n34120\n26619\n24624\n25070\n19558',
 '2004–05\n34110\n34695\n26817\n25817\n26260\n20297',
 '2005–06\n34247\n34788\n27242\n26908\n27333\n21404',
 '2006–07\n35285\n35879\n25166\n28440\n28919\n20284',
 '2007–08\n35613\n36160\n25944\n29768\n30226\n21686',
 '2008–09\n36298\n36850\n26810\n30764\n31232\n22723',
 '2009–10\n36624\n37215\n28587\n31341\n31847\n24463',
 '2010–11\n36515\n37250\n26464\n31875\n32517\n23101',
 '2011–12\n36792\n37481\n26271\n33058\n33677\n23605',
 '2012–13\n37750\n38394\n25567\n34483\n35071\n23355\n\n2013–14\n38799\n39450\n25730\n35995\n36599\n23870\n\n\n2014–15\n40045\n40651\n26032\n37422\n37988\n24327\n\n2015–16\n41472\n42021\n25909\n39016\n39534\n24375\n\n\n2016–17\n42712\n43279\n25976\n40922\n41465\n24888\n\n\n2017–18\n43557\n44025\n26126\n42673\n43131\n25596\n\n\n2018–19\n44306\n44662\n28627\n44306\n44662\n28627',
 '2013–14\n38799\n39450\n25730\n35995\n36599\n23870',
 '2014–15\n40045\n40651\n26032\n37422\n37988\n24327\n\n2015–16\n41472\n42021\n25909\n39016\n39534\n24375\n\n\n2016–17\n42712\n43279\n25976\n40922\n41465\n24888\n\n\n2017–18\n43557\n44025\n26126\n42673\n43131\n25596\n\n\n2018–19\n44306\n44662\n28627\n44306\n44662\n28627',
 '2015–16\n41472\n42021\n25909\n39016\n39534\n24375',
 '2016–17\n42712\n43279\n25976\n40922\n41465\n24888',
 '2017–18\n43557\n44025\n26126\n42673\n43131\n25596',
 '2018–19\n44306\n44662\n28627\n44306\n44662\n28627']

In [32]:
all_institutions = [item.split() for item in text[4:25]]
all_institutions

[['1985–862', '$11369', '$12811', '$7836', '$4885', '$5504', '$3367'],
 ['1995–96', '14426', '16934', '7745', '8800', '10330', '4725'],
 ['2000–01', '15651', '18692', '7907', '10820', '12922', '5466'],
 ['2001–02', '16175', '19386', '8127', '11380', '13639', '5718'],
 ['2002–03', '16708', '20081', '8695', '12014', '14439', '6252'],
 ['2003–04', '17629', '21103', '9125', '12953', '15505', '6705'],
 ['2004–05', '18224', '21813', '9374', '13793', '16510', '7095'],
 ['2005–06', '18625', '22211', '9209', '14634', '17451', '7236'],
 ['2006–07', '19212', '22918', '9264', '15486', '18473', '7467'],
 ['2007–08', '19413', '23166', '9137', '16227', '19364', '7637'],
 ['2008–09', '20111', '24024', '9697', '17045', '20361', '8219'],
 ['2009–10', '20625', '24687', '9981', '17650', '21126', '8541'],
 ['2010–11', '21165', '25287', '10159', '18475', '22074', '8868'],
 ['2011–12', '21593', '25610', '10402', '19401', '23011', '9347'],
 ['2012–13', '22150', '26132', '10480', '20233', '23871', '9573'],
 ['2013–14', '22630', '26625', '10662', '20995', '24701', '9891'],
 ['2014–15', '23252', '27190', '10864', '21729', '25409', '10153'],
 ['2015–16', '23851', '27777', '11062', '22439', '26132', '10407'],
 ['2016–17', '24101', '27755', '11061', '23091', '26592', '10597'],
 ['2017–18', '24327', '27923', '10925', '23833', '27357', '10704'],
 ['2018–19', '24623', '28123', '11389', '24623', '28123', '11389']]

In [33]:
public_institutions = [item.split() for item in text[26:46]]
public_institutions

[['1985–862', '$8312', '$8981', '$6938', '$3571', '$3859', '$2981'],
 ['1995–96', '10255', '11498', '6912', '6256', '7014', '4217'],
 ['2000–01', '10973', '12517', '7000', '7586', '8653', '4839'],
 ['2001–02', '11401', '13071', '7302', '8022', '9196', '5137'],
 ['2002–03', '11824', '13612', '7790', '8502', '9787', '5601'],
 ['2003–04', '12585', '14527', '8182', '9247', '10674', '6012'],
 ['2004–05', '13033', '15096', '8423', '9864', '11426', '6375'],
 ['2005–06', '13306', '15411', '8262', '10454', '12108', '6492'],
 ['2007–08', '13842', '16066', '8347', '11570', '13429', '6977'],
 ['2008–09', '14405', '16768', '8906', '12209', '14212', '7549'],
 ['2009–10', '14980', '17570', '9007', '12819', '15036', '7708'],
 ['2010–11', '15540', '18237', '9255', '13566', '15919', '8079'],
 ['2011–12', '15980', '18683', '9590', '14359', '16787', '8617'],
 ['2012–13', '16444', '19130', '9773', '15021', '17475', '8927'],
 ['2013–14', '16846', '19509', '10006', '15628', '18100', '9283'],
 ['2014–15', '17323', '19938', '10257', '16188', '18632', '9585'],
 ['2015–16', '17821', '20413', '10538', '16766', '19204', '9914'],
 ['2016–17', '17992', '20341', '10531', '17238', '19488', '10090'],
 ['2017–18', '18163', '20464', '10493', '17794', '20049', '10280'],
 ['2018–19', '18383', '20598', '10950', '18383', '20598', '10950']]

In [34]:
private_institutions = [item.split() for item in text[47:]]
private_institutions

[['1985–862', '$20678', '$21478', '$15156', '$8885', '$9228', '$6512'],
 ['1995–96', '28209', '28870', '18956', '17208', '17612', '11563'],
 ['2000–01', '30916', '31614', '21563', '21373', '21856', '14907'],
 ['2001–02', '31857', '32542', '22493', '22413', '22896', '15825'],
 ['2002–03', '32461', '33082', '24690', '23340', '23787', '17753'],
 ['2003–04', '33513', '34120', '26619', '24624', '25070', '19558'],
 ['2004–05', '34110', '34695', '26817', '25817', '26260', '20297'],
 ['2005–06', '34247', '34788', '27242', '26908', '27333', '21404'],
 ['2006–07', '35285', '35879', '25166', '28440', '28919', '20284'],
 ['2007–08', '35613', '36160', '25944', '29768', '30226', '21686'],
 ['2008–09', '36298', '36850', '26810', '30764', '31232', '22723'],
 ['2009–10', '36624', '37215', '28587', '31341', '31847', '24463'],
 ['2010–11', '36515', '37250', '26464', '31875', '32517', '23101'],
 ['2011–12', '36792', '37481', '26271', '33058', '33677', '23605'],
 ['2012–13',
  '37750',
  '38394',
  '25567',
  '34483',
  '35071',
  '23355',
  '2013–14',
  '38799',
  '39450',
  '25730',
  '35995',
  '36599',
  '23870',
  '2014–15',
  '40045',
  '40651',
  '26032',
  '37422',
  '37988',
  '24327',
  '2015–16',
  '41472',
  '42021',
  '25909',
  '39016',
  '39534',
  '24375',
  '2016–17',
  '42712',
  '43279',
  '25976',
  '40922',
  '41465',
  '24888',
  '2017–18',
  '43557',
  '44025',
  '26126',
  '42673',
  '43131',
  '25596',
  '2018–19',
  '44306',
  '44662',
  '28627',
  '44306',
  '44662',
  '28627'],
 ['2013–14', '38799', '39450', '25730', '35995', '36599', '23870'],
 ['2014–15',
  '40045',
  '40651',
  '26032',
  '37422',
  '37988',
  '24327',
  '2015–16',
  '41472',
  '42021',
  '25909',
  '39016',
  '39534',
  '24375',
  '2016–17',
  '42712',
  '43279',
  '25976',
  '40922',
  '41465',
  '24888',
  '2017–18',
  '43557',
  '44025',
  '26126',
  '42673',
  '43131',
  '25596',
  '2018–19',
  '44306',
  '44662',
  '28627',
  '44306',
  '44662',
  '28627'],
 ['2015–16', '41472', '42021', '25909', '39016', '39534', '24375'],
 ['2016–17', '42712', '43279', '25976', '40922', '41465', '24888'],
 ['2017–18', '43557', '44025', '26126', '42673', '43131', '25596'],
 ['2018–19', '44306', '44662', '28627', '44306', '44662', '28627']]

In [35]:
#We then trim down the incorrect lines for private institutions with another list comprehension
private_institutions = [item[0:7] for item in private_institutions]
private_institutions

[['1985–862', '$20678', '$21478', '$15156', '$8885', '$9228', '$6512'],
 ['1995–96', '28209', '28870', '18956', '17208', '17612', '11563'],
 ['2000–01', '30916', '31614', '21563', '21373', '21856', '14907'],
 ['2001–02', '31857', '32542', '22493', '22413', '22896', '15825'],
 ['2002–03', '32461', '33082', '24690', '23340', '23787', '17753'],
 ['2003–04', '33513', '34120', '26619', '24624', '25070', '19558'],
 ['2004–05', '34110', '34695', '26817', '25817', '26260', '20297'],
 ['2005–06', '34247', '34788', '27242', '26908', '27333', '21404'],
 ['2006–07', '35285', '35879', '25166', '28440', '28919', '20284'],
 ['2007–08', '35613', '36160', '25944', '29768', '30226', '21686'],
 ['2008–09', '36298', '36850', '26810', '30764', '31232', '22723'],
 ['2009–10', '36624', '37215', '28587', '31341', '31847', '24463'],
 ['2010–11', '36515', '37250', '26464', '31875', '32517', '23101'],
 ['2011–12', '36792', '37481', '26271', '33058', '33677', '23605'],
 ['2012–13', '37750', '38394', '25567', '34483', '35071', '23355'],
 ['2013–14', '38799', '39450', '25730', '35995', '36599', '23870'],
 ['2014–15', '40045', '40651', '26032', '37422', '37988', '24327'],
 ['2015–16', '41472', '42021', '25909', '39016', '39534', '24375'],
 ['2016–17', '42712', '43279', '25976', '40922', '41465', '24888'],
 ['2017–18', '43557', '44025', '26126', '42673', '43131', '25596'],
 ['2018–19', '44306', '44662', '28627', '44306', '44662', '28627']]

In [36]:
#combine the three lists into one so we can save as a csv
#the second tier of table headers weren't grabbed by beautiful soup, so we're adding them manually. There are \\
#only six, so it's a better use of time to do it this way rather than try to write a script.
headers = [['Category','Year', 'Constant_All', 'Constant_4-Year', 'Constant_2-year', 'Contemporary_All', 'Contemporary_4-Year', 'Contemporary_2-Year']]
if all_institutions[0][0] != 'all':
    all_institutions = [['All Institutions']+item for item in all_institutions]
    public_institutions = [['Public']+item for item in public_institutions]
    private_institutions = [['Private']+item for item in private_institutions]
combined = headers+all_institutions + public_institutions + private_institutions

In [37]:
combined = [','.join(row) for row in combined]
combined[:5]

['Category,Year,Constant_All,Constant_4-Year,Constant_2-year,Contemporary_All,Contemporary_4-Year,Contemporary_2-Year',
 'All Institutions,1985–862,$11369,$12811,$7836,$4885,$5504,$3367',
 'All Institutions,1995–96,14426,16934,7745,8800,10330,4725',
 'All Institutions,2000–01,15651,18692,7907,10820,12922,5466',
 'All Institutions,2001–02,16175,19386,8127,11380,13639,5718']

In [38]:
with open("data/table.csv", 'w', encoding='utf8') as file:
    for row in combined:
        row=row.replace('$','')
        file.write(row + "\n")