In [3]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import glob

In [11]:
path = './data/'
documents = ['diversity_school', 'salary_potential', 'tuition_income',
'historical_tuition', 'tuition_cost']
datasets = {}

for doc in documents:
    filename = path + doc + '.csv'
    df = pd.read_csv(filename, sep=',', header=0)
    datasets[doc] = df

In [17]:
for frame in datasets:
    print(frame)
    print(datasets[frame].head(3))
    print('\n\n')

diversity_school
                            name  total_enrollment    state  \
0  University of Phoenix-Arizona            195059  Arizona
1  University of Phoenix-Arizona            195059  Arizona
2  University of Phoenix-Arizona            195059  Arizona

                          category  enrollment
0                            Women      134722
1  American Indian / Alaska Native         876
2                            Asian        1959



salary_potential
   rank                                 name state_name  early_career_pay  \
0     1                    Auburn University    Alabama             54400
1     2  University of Alabama in Huntsville    Alabama             57500
2     3            The University of Alabama    Alabama             52300

   mid_career_pay  make_world_better_percent  stem_percent
0          104500                       51.0            31
1          103900                       59.0            45
2           97400                       50.0            15



tuition_income
                                name state  total_price  year     campus  \
0  Piedmont International University    NC        20174  2016  On Campus
1  Piedmont International University    NC        20174  2016  On Campus
2  Piedmont International University    NC        20174  2016  On Campus

   net_cost        income_lvl
0   11475.0       0 to 30,000
1   11451.0  30,001 to 48,000
2   16229.0  48_001 to 75,000



historical_tuition
               type     year     tuition_type  tuition_cost
0  All Institutions  1985-86     All Constant         10893
1  All Institutions  1985-86  4 Year Constant         12274
2  All Institutions  1985-86  2 Year Constant          7508



tuition_cost
                                   name    state state_code     type  \
0                Aaniiih Nakoda College  Montana         MT   Public
1          Abilene Christian University    Texas         TX  Private
2  Abraham Baldwin Agricultural College  Georgia         GA   Public

  degree_length  room_and_board  in_state_tuition  in_state_total  \
0        2 Year             NaN              2380            2380
1        4 Year         10350.0             34850           45200
2        2 Year          8474.0              4128           12602

   out_of_state_tuition  out_of_state_total
0                  2380                2380
1                 34850               45200
2                 12550               21024